{% extends 'base.html' %}
{% block content %}
<body>
<div class="container">
    <h1>Oops! CSRF Error</h1>
    <p>It looks like there was a problem with your request. This action could not be processed due to a potential
        Cross-Site Request Forgery attack.</p>
    <p>Please ensure you are using the proper form and try again.</p>
    <p>If you believe this is an error, please contact our support team for assistance.</p>
    <a href="#" class="btn">Go back</a>
</div>
</body>
{% end block %}
