{% extends 'base.html' %}

{% block title %} Links {% endblock %}

{% block content %}

<div class="container mt-5">
    <form id="add-link" method="post">
        <ul class="errors">
            {% for error in url_form.link.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <div>
            {{ url_form.csrf_token }}
            {{ url_form.link.label }}
            {{ url_form.link(size=20, class="form-control") }}
            {{ url_form.submit_link(class="btn btn-primary m-2") }}
        </div>
    </form>
    <form id="add-file" method="post" enctype="multipart/form-data">
        <ul class="errors">
            {% for error in file_form.file.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <div>
            {{ file_form.csrf_token }}
            {{ file_form.label }}
            {{ file_form.file(size=20, class="form-control") }}
            {{ file_form.submit_file(class="btn btn-primary m-2") }}
        </div>
    </form>
    <form class="form-control" method="get">
        <label for="domain"></label>
        <input type="text" id="domain" name="domain" value="{{ domain }}">
        <select id="per_page" name="per_page" class="form-select" aria-label="per_page">
            <option name="per_page" value="10" {% if per_page== 10 %}selected{% endif %}>10</option>
            <option name="per_page" value="20" {% if per_page== 20 %}selected{% endif %}>20</option>
            <option name="per_page" value="50" {% if per_page== 50 %}selected{% endif %}>50</option>
            <option name="per_page" value="100" {% if per_page== 100 %}selected{% endif %}>100</option>
        </select>
        <button class="btn btn-primary m-2" type="submit">Apply filter</button>
    </form>
</div>
<!-----------------------  Page filters ------------------------------>
<div class="container-mt-4">
    <!----------------------- Pagination ------------------------------>
    <h1>Link Table</h1>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if links.has_prev %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ links.prev_num }}&per_page={{ links.per_page }}&domain={{ domain }}">
                    Previous
                </a>
            </li>
            {% endif %}
            {% for page_num in links.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% if page_num %}
            {% if links.page == page_num %}
            <li class="page-item active">
                <span class="page-link">{{ page_num }}</span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_num }}&per_page={{ links.per_page }}&domain={{ domain }}">
                    {{ page_num }}
                </a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% if links.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ links.next_num }}&per_page={{ links.per_page }}&domain={{ domain }}">
                    Next
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Protocol</th>
            <th>URL</th>
            <th>Domain</th>
            <th>Domain Zone</th>
            <th>Path</th>
            <th>Query Params</th>
            <th>Unavailable times</th>
        </tr>
        </thead>
        <tbody>
        {% for link in links %}
        <tr>
            <td>{{ link.protocol }}</td>
            <td>{{ link.url }}</td>
            <td>{{ link.domain }}</td>
            <td>{{ link.domain_zone }}</td>
            <td>{{ link.path }}</td>
            <td>
                {% if link.params %}
                {{ link.params }}
                {% else %}
                None
                {% endif %}
            </td>
            <td>{{ link.unavailable_times }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}